.menu__list{
  list-style: none;
  padding: 0;
  display: flex;
  gap: 30px;
  margin: 0;
}

@media screen and (max-width:685px){
  .menu__list{
    gap: 5px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 'MenuItem1 MenuItem2 MenuItem3'
                          'menu menu menu';
  }
}