.header__logo{
  margin: 20px 40px;
  z-index: 100;
  position: relative;
  max-width: 270px;
  max-height: 170px;
  filter: invert(100%);
}

@media screen and (max-width:1025px){
  .header__logo{
    width: 104px;
    height: 60px;
    margin: 5px 0;
    filter: invert(0);
  }
}

@media screen and (max-width:685px){
  .header__logo{
    width: 52px;
    height: 30px;
  }
}
