.hamburger-menu{
    display: none;
    position: fixed;
    height: 100vh;
    width: 40vw;
    background:#fff;
    top:0;
    right: 0;
    z-index: 105;
    transition: all .5s;
    animation: appearingRight100 1s ease-in-out reverse;
}

@media screen and (max-width:550px){
    .hamburger-menu{
        width: 100%;
    }
}