.about__title{
  font-weight: 700;
  font-size: 70px;
  margin: 0;
  max-width: 600px;
  font-family: 'Vollkorn';
}

/* .about__title:last-of-type{
  text-align: end;
} */

@media screen and (max-width:1025px){
  .about__title{
    font-size: 38px;
  }
}


@media screen and (max-width:685px){
  .about__title{
    font-size: 16px;
  }
}