.header__contaienr_hidden{
  background-color: #fff;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4);
  transition: all .3s;
  position: fixed;
  top:0;
  animation: disappearingUp .3s ease-in-out forwards
}