.contacts{
  max-width: 1140px;
  margin: 0 auto 90px;
}

@media screen and (max-width:1025px){
  .contacts{
    max-width: 668px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:685px){
  .contacts{
    max-width: 280px;
    margin-bottom: 30px;
  }
}