.header{
  min-height: 700px;
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.12);
}
/* linear-gradient(90deg, rgba(246, 198, 43, 0.13) 0%, rgba(255, 255, 255, 0.8) 50%), linear-gradient(90deg, rgba(255, 255, 255, 0.8) 50%, rgba(246, 198, 43, 0.42) 100%); */

@media screen and (max-width:1025px){
  .header{
    min-height: 275px;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    margin: 0;
    margin-top: 75px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width:685px){
  .header{
    min-height: 114px;
    margin: 0;
    margin-top: 40px;
    margin-bottom: 15px;
  }
}