.footer__logo{
  display: block;
}

@media screen and (max-width:1025px){
  .footer__logo{
    max-width: 208px;
  }
}

@media screen and (max-width:685px){
  .footer__logo{
    max-width: 90px;
  }
}